In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [9]:
dir_path = "/media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/"

In [10]:
file11 = dir_path + 'Year1/External/saltsnck/saltsnck_drug_1114_1165'
file22 = dir_path + 'Year1/External/saltsnck/saltsnck_groc_1114_1165'

In [11]:
#drug
panel_dr = pd.read_fwf(file11)
print "panel_dr.shape =", panel_dr.shape
panel_dr.head()

panel_dr.shape = (1092975, 11)

   IRI_KEY  WEEK  SY  GE   VEND  ITEM  UNITS  DOLLARS     F  D  PR
0   664497  1114   0   1  41633  2154      3     2.97  NONE  0   0
1   664497  1114   0   2  41633   145      6    13.14  NONE  0   0
2   664497  1114   0   1  41633  2119      3     2.97  NONE  0   0
3   664497  1114   0   2  41633   135      3     6.57  NONE  0   0
4   664497  1114   0   1  41633  2140      1     0.99  NONE  0   0

In [ ]:
panel_dr.dtypes

In [20]:
print "Number of items in saltysnack = ", len(panel_dr['ITEM'].unique())

Number of items in saltysnack =  2485

In [22]:
print "Number of stores = ", len(panel_dr['IRI_KEY'].unique())

Number of stores =  413

In [53]:
panel_dr['ITEM'][0]

2154

In [94]:
items = panel_dr.groupby(['ITEM'])['UNITS'].sum()

In [96]:
items_df = pd.DataFrame(items)

In [100]:
items_df = items_df.reset_index()

In [104]:
items_df = items_df.sort(['UNITS', 'ITEM'], ascending=[0, 0])

In [189]:
top10items = items_df.head(1)

In [190]:
type(top10items['UNITS'])

pandas.core.series.Series

In [191]:
!ls $stub_file

/media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/parsed_stub_files/prod_saltsnck.xls

In [192]:
stub_file = dir_path + 'parsed_stub_files/prod_saltsnck.xls'

In [193]:
!ls /media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/parsed\ stub\ files/prod_saltsnck.xls

/media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/parsed stub files/prod_saltsnck.xls

In [194]:
print stub_file

/media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/parsed_stub_files/prod_saltsnck.xls

In [195]:
#stub_file_df = pd.read_fwf(stub_file)

In [196]:
type(top10items['UNITS'])

pandas.core.series.Series

In [197]:
len(panel_dr), len(top10items)

(1092975, 1)

In [198]:
df_top10 = top10items.merge(panel_dr, how='left', on='ITEM')

In [200]:
print "df_top10.shape =", df_top10.shape
#df_top10

df_top10.shape = (7148, 12)

In [201]:
print df_top10['DOLLARS'].max(), df_top10['DOLLARS'].min()

295.31 0.5

In [203]:
df_top10[df_top10['DOLLARS']==295.31]

,ITEM,UNITS_x,IRI_KEY,WEEK,SY,GE,VEND,UNITS_y,DOLLARS,F,D,PR
2039,999,135743,8042539,1126,0,3,28400,336,295.31,NONE,2,1

In [204]:
df_top10['DOLLARS_AVG'] = df_top10['DOLLARS']/df_top10['UNITS_y']

In [210]:
print "Price range from $%.3f to $%.3f" % (df_top10['DOLLARS_AVG'].min(),df_top10['DOLLARS_AVG'].max())

Price range from $0.346 to $1.188