In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
dir_path = "/media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/"

In [12]:
!ls /media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/demos_trips_external_1_11_may13/ads\ demos_trips_external_1_11_may13

/media/mqh001/Data/DSE220_Project_Iris_dataset/IRI/demos_trips_external_1_11_may13/ads demo1.csv

### Manual play with each csv file and check its format

In [61]:
trips = pd.read_csv(\
        "/media/mqh001/Data/DSE220_Project_Iris_dataset/IRITest/demos_trips_external_1_11_may13/ads demos11.CSV")
#Upper case CSV spreadsheet are the demos: 6, 8, 9 and 10
#Different format "called format2" are the demos: 8, 9, 10 and 11
print trips.shape

(4171, 38)

In [62]:
trips_columns11 = trips.columns

In [63]:
[i for i, j in zip(trips_columns1, trips_columns11) if i != j]

['HH_RACE',
 'HH_AGE',
 'HH_EDU',
 'HH_OCC',
 'Language',
 'Number of TVs Used by HH',
 'Number of TVs Hooked to Cable',
 'Year',
 'HISP_FLAG',
 'HISP_CAT',
 'HH Head Race (RACE2)',
 'HH Head Race (RACE3)',
 'Microwave Owned by HH']

In [64]:
[i for i, j in zip(trips_columns8, trips_columns11) if i != j]

[]

In [70]:
trips_columns1

Index([u'Panelist ID', u'Panelist Type', u'Combined Pre-Tax Income of HH',
       u'Family Size', u'HH_RACE', u'Type of Residential Possession',
       u'COUNTY', u'HH_AGE', u'HH_EDU', u'HH_OCC',
       u'Age Group Applied to Male HH', u'Education Level Reached by Male HH',
       u'Occupation Code of Male HH', u'Male Working Hour Code', u'MALE_SMOKE',
       u'Age Group Applied to Female HH',
       u'Education Level Reached by Female HH',
       u'Occupation Code of Female HH', u'Female Working Hour Code',
       u'FEM_SMOKE', u'Number of Dogs', u'Number of Cats',
       u'Children Group Code', u'Marital Status', u'Language',
       u'Number of TVs Used by HH', u'Number of TVs Hooked to Cable', u'Year',
       u'HISP_FLAG', u'HISP_CAT', u'HH Head Race (RACE2)',
       u'HH Head Race (RACE3)', u'Microwave Owned by HH', u'ZIPCODE',
       u'FIPSCODE', u'market based upon zipcode', u'IRI Geography Number',
       u'EXT_FACT'],
      dtype='object')

In [114]:
trips_columns8

Index([u'Panelist ID', u'Panelist Type', u'Combined Pre-Tax Income of HH',
       u'Family Size', u'Household Head Race',
       u'Type of Residential Possession', u'COUNTY',
       u'Age Group Applied to Household Head',
       u'Education Level Reached by Household Head',
       u'Occupation Code of Household Head', u'Age Group Applied to Male HH',
       u'Education Level Reached by Male HH', u'Occupation Code of Male HH',
       u'Male Working Hour Code', u'MALE_SMOKE',
       u'Age Group Applied to Female HH',
       u'Education Level Reached by Female HH',
       u'Occupation Code of Female HH', u'Female Working Hour Code',
       u'FEM_SMOKE', u'Number of Dogs', u'Number of Cats',
       u'Children Group Code', u'Marital Status', u'HH_LANG', u'ALL_TVS',
       u'CABL_TVS', u'Hispanic Flag', u'HISP_CAT', u'RACE2', u'RACE3',
       u'MICROWAVE', u'device_type', u'ZIPCODE', u'FIPSCODE',
       u'market based upon zipcode', u'IRI Geography Number', u'EXT_FACT'],
      dtype='object')

In [66]:
trips.head(4)

,Panelist ID,Panelist Type,Combined Pre-Tax Income of HH,Family Size,Household Head Race,Type of Residential Possession,COUNTY,Age Group Applied to Household Head,Education Level Reached by Household Head,Occupation Code of Household Head,...,HISP_CAT,RACE2,RACE3,MICROWAVE,device_type,ZIPCODE,FIPSCODE,market based upon zipcode,IRI Geography Number,EXT_FACT
0,1100016,5,2,2,1,1,,6,3,10,...,.,1,1,.,2,1201,25003,204,1,1
1,1100032,0,6,2,1,1,3,5,5,5,...,.,1,1,1,0,1201,25003,204,1,1
2,1100057,0,5,1,1,1,3,6,4,3,...,.,1,1,1,0,1201,25003,204,1,1
3,1100180,5,11,2,1,1,3,5,5,1,...,.,1,1,1,7,1201,25003,204,1,1

In [71]:
set1 = set(trips_columns1)
set11 = set(trips_columns11)

In [73]:
if set1 == set11:
    value = True
else:
    value = False
print value

False

In [81]:
sorted(set1)

['Age Group Applied to Female HH',
 'Age Group Applied to Male HH',
 'COUNTY',
 'Children Group Code',
 'Combined Pre-Tax Income of HH',
 'EXT_FACT',
 'Education Level Reached by Female HH',
 'Education Level Reached by Male HH',
 'FEM_SMOKE',
 'FIPSCODE',
 'Family Size',
 'Female Working Hour Code',
 'HH Head Race (RACE2)',
 'HH Head Race (RACE3)',
 'HH_AGE',
 'HH_EDU',
 'HH_OCC',
 'HH_RACE',
 'HISP_CAT',
 'HISP_FLAG',
 'IRI Geography Number',
 'Language',
 'MALE_SMOKE',
 'Male Working Hour Code',
 'Marital Status',
 'Microwave Owned by HH',
 'Number of Cats',
 'Number of Dogs',
 'Number of TVs Hooked to Cable',
 'Number of TVs Used by HH',
 'Occupation Code of Female HH',
 'Occupation Code of Male HH',
 'Panelist ID',
 'Panelist Type',
 'Type of Residential Possession',
 'Year',
 'ZIPCODE',
 'market based upon zipcode']

In [111]:
inlist = []
notinlist = []
for i in trips_columns1:
    if i not in set11:
        notinlist.append(i)
    else:
        inlist.append(i)

In [113]:
notinlist

['HH_RACE',
 'HH_AGE',
 'HH_EDU',
 'HH_OCC',
 'Language',
 'Number of TVs Used by HH',
 'Number of TVs Hooked to Cable',
 'Year',
 'HISP_FLAG',
 'HH Head Race (RACE2)',
 'HH Head Race (RACE3)',
 'Microwave Owned by HH']

In [83]:
set11

{'ALL_TVS',
 'Age Group Applied to Female HH',
 'Age Group Applied to Household Head',
 'Age Group Applied to Male HH',
 'CABL_TVS',
 'COUNTY',
 'Children Group Code',
 'Combined Pre-Tax Income of HH',
 'EXT_FACT',
 'Education Level Reached by Female HH',
 'Education Level Reached by Household Head',
 'Education Level Reached by Male HH',
 'FEM_SMOKE',
 'FIPSCODE',
 'Family Size',
 'Female Working Hour Code',
 'HH_LANG',
 'HISP_CAT',
 'Hispanic Flag',
 'Household Head Race',
 'IRI Geography Number',
 'MALE_SMOKE',
 'MICROWAVE',
 'Male Working Hour Code',
 'Marital Status',
 'Number of Cats',
 'Number of Dogs',
 'Occupation Code of Female HH',
 'Occupation Code of Household Head',
 'Occupation Code of Male HH',
 'Panelist ID',
 'Panelist Type',
 'RACE2',
 'RACE3',
 'Type of Residential Possession',
 'ZIPCODE',
 'device_type',
 'market based upon zipcode'}

In [78]:
[(i, j) for i, j in zip(sorted(set1), sorted(set11)) if i != j]

[('Age Group Applied to Female HH', 'ALL_TVS'),
 ('Age Group Applied to Male HH', 'Age Group Applied to Female HH'),
 ('COUNTY', 'Age Group Applied to Household Head'),
 ('Children Group Code', 'Age Group Applied to Male HH'),
 ('Combined Pre-Tax Income of HH', 'CABL_TVS'),
 ('EXT_FACT', 'COUNTY'),
 ('Education Level Reached by Female HH', 'Children Group Code'),
 ('Education Level Reached by Male HH', 'Combined Pre-Tax Income of HH'),
 ('FEM_SMOKE', 'EXT_FACT'),
 ('FIPSCODE', 'Education Level Reached by Female HH'),
 ('Family Size', 'Education Level Reached by Household Head'),
 ('Female Working Hour Code', 'Education Level Reached by Male HH'),
 ('HH Head Race (RACE2)', 'FEM_SMOKE'),
 ('HH Head Race (RACE3)', 'FIPSCODE'),
 ('HH_AGE', 'Family Size'),
 ('HH_EDU', 'Female Working Hour Code'),
 ('HH_OCC', 'HH_LANG'),
 ('HH_RACE', 'HISP_CAT'),
 ('HISP_CAT', 'Hispanic Flag'),
 ('HISP_FLAG', 'Household Head Race'),
 ('Language', 'MALE_SMOKE'),
 ('MALE_SMOKE', 'MICROWAVE'),
 ('Microwave Owned by HH', 'Number of Cats'),
 ('Number of Cats', 'Number of Dogs'),
 ('Number of Dogs', 'Occupation Code of Female HH'),
 ('Number of TVs Hooked to Cable', 'Occupation Code of Household Head'),
 ('Number of TVs Used by HH', 'Occupation Code of Male HH'),
 ('Occupation Code of Female HH', 'Panelist ID'),
 ('Occupation Code of Male HH', 'Panelist Type'),
 ('Panelist ID', 'RACE2'),
 ('Panelist Type', 'RACE3'),
 ('Year', 'ZIPCODE'),
 ('ZIPCODE', 'device_type')]